<div class="scene-wrapper">

    <button *ngIf = "!communicationService.infoPartie.isMeneurDeJeu && !infoEvenement!.passer" class = "lgBouton lgAbsolu" style = "top: 90%; left: 80%; width: 20%; height: 5%;z-index: 10;" (click) = "ok()">Passer</button>
    <!-- BACKGROUND SOLEIL -->
    <div class="background-soleil" [class.finAnimation]="animationFinie"></div>
  <!-- THREEJS -->
  <div #rendererContainerContainer 
       class="three-container"
       [class.fadeOut]="animationFinie">

        <div class="scène-container">

            <div class="renderer-canvas"></div>

            <div id="narrateur"
                 [style.opacity]="opacityNarrateur"
                 class="narrateur-overlay">
                {{ texteNarrateur }}
            </div>

        </div>

    </div>
</div>

<app-creation-appareils
 *ngIf="isInfoAppareil"
 (retourAppareil)="switchInfoAppareil();">
</app-creation-appareils>
