<button class = "lgBouton lgAbsolu" style = "top: 60%;left: 30%;width:40%; font-size: 70%; height: 8%; font-weight: bold;" (click) = "creerPartie()">Créer une partie</button>
<button class = "lgBouton lgAbsolu" style = "top: 70%;left: 30%;width:40%;font-size: 70%;height: 8%; font-weight: bold;" (click) = "joindrePartie()">Rejoindre une partie</button>
<button class = "lgBouton lgAbsolu" style = "top: 80%;left: 30%;width:40%;font-size: 70%;height: 8%; font-weight: bold;" (click) = "credits()">Crédits</button>
<button class = "lgBouton lgAbsolu" style = "top: 90%;left: 30%;width:40%;font-size: 70%;height: 8%; font-weight: bold;" (click) = "menuRoles()">Roles</button>
<p class = "lgTexte" style = "top: 60%; color: white;">{{messageErreur}}</p>