@if (mort) {
  <div>VOUS ETES MORT</div>
}
<div style = "background-color: white; width: 100%; height: 100%;">
  <div style = "display: flex;flex-wrap: wrap; justify-content: center; width: 100%; height: 100%;">
    @for (liste of grille; track liste) {
      <div  style = "display: flex;flex-wrap: wrap; justify-content: space-around; width: 100%; height: 20%; align-items: center;">
        @for (j of liste; track j) {
          <div [class] = "j==0?'rien':'element'" style = "text-align: center; width: 55px; height: 55px;">{{j == 0?'':j}}</div>
        }
      </div>
    }
  </div>
</div>
