input:focus{
    border: 0;
    outline: none !important;
}

::ng-deep .mat-mdc-slide-toggle {
    vertical-align: middle !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch__shadow {
    background-color: red !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch__track {
    background-color: darkred !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch--selected .mdc-switch__handle {
    background-color: red !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch--selected .mdc-switch__track {
    background-color: white !important;
}

input{
    background-color: black;
    color: white;
    border: 0;
}

.rouge{
    background-color: rgba(255,0,0,0.6);
}

.noir{
    background-color: rgba(100,0,0,0.3);
}