input:focus{
    border: 0;
    outline: none !important;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: red; /*replace with your color*/
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: darkred;  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: red; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: white;  /*replace with your color*/
}

input{
    background-color: black;
    color: white;
    border: 0;
}

.rouge{
    background-color: rgba(255,0,0,0.6);
}

.noir{
    background-color: rgba(100,0,0,0.3);
}