<p class = "lgAbsolu lgTexte" style = "top: 10%; width: 100%; font-size: 110%; text-align: center;">{{nomRole}}</p>
<p class = "lgAbsolu lgTexte" style = "top: 50%; left: 10%; width: 80%; font-size: 90%; text-align: center;">{{descriptionRole}}</p>
<div class = "lgAbsolu" style = "top: 25%; left: 35%; width: 30%;">
    <img [src] =  "'../../assets/'+imageRole" style = "width: 100%;">
</div>
<button class="lgBouton lgAbsolu" style = "left: 2%; top: 2%; width: 20%;" (click) = "retour()">Retour</button>