<p *ngIf = "!description" class= "lgTexte lgAbsolu" style = "width: 100%;top: 5%;font-size: 130%;">{{texte}}</p>
<div *ngIf = "!description" class= "lgAbsolu" style = "left: 30%; width: 40%; height: 48%;top:25%">
    <div @texte class = "lgTexte" style = "font-size: 130%;">{{rolePersonnage}}</div>
    <button @carte class= "lgTexte boutonRole" style = "background-color: transparent; border: none; text-align: center; width: 100%; height: 100%; overflow-y: hidden;" (click) = "i()">
        <div #imagee *ngIf = "image != ''" [style] ="'background-repeat: unset;background-size: cover; background-image: url(./../../assets/'+image+'); width: 100%; height: 100%; max-height:'+imagee.offsetWidth+'px'"></div>
    </button>
</div>
<button *ngIf = "!description" class= "lgTexte boutonRole lgAbsolu" [style] = "'font-size: 130%; background-color: transparent; border: none; overflow-y: hidden;overflow-x:hidden;width: 20%; left: 40%; top: 80%; height:40%;  max-height:'+imagee.offsetWidth+'px'" (click) = "ok()">
    <div #imagee class="lgAbsolu" [style] ="'background-repeat: unset;background-size: cover; background-image: url(./../../assets/wolf-print2.png); width: 100%;rotate: -40deg; height: 100%;left: 0%; top: 0%;'"></div>
    <div class="lgTexte lgAbsolu lgBlanc" style = "width: 100%; left: 0%; top: 40%; height:40%; font-family: texteBouton;">Ok</div>
</button>
<app-description-role *ngIf = "description" (fermer) = "fermerDescriptionRole()" [role] = "role"></app-description-role>

