.peutChoisir, .pasBouton{
    background-color: transparent;
}

.peutChoisir:hover{
    background-color: transparent;
    filter: brightness(0.8) sepia(0.2) saturate(5) hue-rotate(-10deg);
}

.peutPasChoisir{
    background-color: transparent;
    filter: grayscale(75%);
}

.peutChoisirCercle, .pasBoutonCercle{
    background-color: brown;
}

.peutChoisirCerlce:hover{
    filter: brightness(0.8) sepia(0.2) saturate(5) hue-rotate(-10deg);
}

.peutPasChoisirCercle{
    filter: grayscale(75%);
}



.hoverCapitaine{
    position: absolute;
    visibility: hidden;
    background-color: transparent;
    font-size: 20px;
    margin-left: -15%;
    border-radius: 5px;
    z-index: 10;
    width: 100%;
    overflow: visible;
}

.iconCapitaine{
    box-shadow: 
    inset 0 0 20px rgba(0, 0, 0, 0.3),
     0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px; 
}

.iconCapitaine:hover .hoverCapitaine{
    visibility: visible;
}

img{
    width: 30px;
}