.bouton{
    text-align: center; 
    border-radius: 10px;
    width: 30%; 
    height: 5%;
    margin-left: 35%;
    color: white;
}
.boutonJouer{
    background-color: green;
}
.boutonJouer:hover{
    background-color: #005500;
}

.boutonStop{
    background-color: red;
}

.boutonDisable{
    background-color: gray;
}