@if (!isInfoAppareil) {
  <div @texte class = "lgAbsolu lgTexte" style = "height: 100%; width: 100%; visibility: hidden;font-size: 100%;">
    @for (listeTexte of matriceTexte; track listeTexte) {
      <div style = "margin-bottom: 45%;">
        @for (texte of listeTexte; track texte; let i = $index) {
          <p [style] = "'margin-bottom: 5%;font-size:'+(i==0?'150':'90')+'%;'">{{texte}}</p>
        }
      </div>
    }
  </div>
}

@if (!isInfoAppareil && !communicationService.infoPartie.isMeneurDeJeu) {
  <button class = "lgAbsolu lgBouton" style = "width: 20%; left: 78%; top: 90%; height: 5%;font-size: 60%;" (click) = "passer()" >Passer</button>
}

@if (isInfoAppareil) {
  <app-creation-appareils (retourAppareil) = "switchInfoAppareil();"></app-creation-appareils>
}
