<p class = "lgTexte"> Quel appareil êtes-vous?</p>
<div class = "lgAbsolu" style = "display: flex; width: 100%; flex-wrap: wrap; justify-content: center; top: 15%; overflow-y: auto; max-height: 58%;">
  @for (appareil of appareilsNonConnectes; track appareil; let i = $index) {
    <button class = "lgBouton" style = "margin-bottom: 5px; margin-left: 5px; min-height: 50px;background-color:red; display:flex; align-items: center; flex-wrap: wrap; justify-content: center" (click)="choisir(i)" [disabled] = "!appareil.disconnect">
      @if (siMeneurDeJeu(i)) {
        <div class = "lgTexte lgBlanc" style = "font-size: clamp(10%, 100%, 30px);width:100%;">(meneur de jeu)</div>
      }
      @for (info of appareil.noms; track info; let j = $index) {
        <div style = "width:100%">
          <div style ="display: grid;grid-template-columns: 100%;grid-template-rows: auto;">
            <div style = "font-size:clamp(10%, 100%, 30px); color: white;">{{info}}</div>
          </div>
        </div>
      }
    </button>
  }
  @if (!partieEnCours) {
    <button class = "lgBouton" (click)="nouveauJoueur()" style = "margin-left: 5px;">Nouveau Joueur</button>
  }
</div>
