input:focus{
    border: 0;
    outline: none !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch__handle {
    background-color: darkred !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch__track {
    background-color: black !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch--selected .mdc-switch__handle {
    background-color: red !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch--selected .mdc-switch__track {
    background-color: red !important;
}

input{
    background-color: transparent;
    color: white;
    border: 0;
}

.boutonRole:hover{
    opacity: 0.8;
}