input:focus{
    border: 0;
    outline: none !important;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: darkred; /*replace with your color*/
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: black;  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: red; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: red;  /*replace with your color*/
}

input{
    background-color: transparent;
    color: white;
    border: 0;
}

.boutonRole:hover{
    opacity: 0.8;
}